<h1>My Dilemmas</h1>
<br>

  <% if @dilema.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dilema.errors.count, "error") %> prohibited
      this dilema from being saved:</h2>
    <ul>
    <% @dilema.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<table class="table table-striped">
  <tr>
    <th>Issue</th>
	<th>Result</th>
    <th>Edit</th>
    
  </tr>
 
  <% @dilemas.each do |dilema| %>
    <tr>
      <td><%= link_to dilema.decision, dilema_path(dilema) %></td>
	  <td><%= dilema.resultPrefix %> <%= dilema.result.abs %></td>
      <td><%= link_to 'Delete', dilema_path(dilema),
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= form_for @dilema do |f| %>
  
  <div class="form-inline">
    <% f.label :decision %>
    <%= f.text_field :decision, placeholder: "Decision?"%>
    <%= f.submit "Add New Dilema", class: 'btn' %>
  </div>
<% end %>

  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn" %> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn"  %>