<br>

<h1 class="text-center"><%= @dilema.decision %></h1>
<h1 class="text-center">
<% if @dilema.result > 0 %>
    <span class="text-success">
	<% else %>
	<span class="text-error">
<% end %>
<%= @dilema.resultPrefix %> <%= @dilema.result.abs %>
</h1></span>


<br>
<div class="row">
	
<div class="span6">
	<%= render "pros/form" %>
<table class="table">
  <tr class="info">
    <th class="span4">Pro</th>
    <th class="span1"><%= @dilema.pro_total %></th>
    <th>Edit</th>
  </tr>
  <% @dilema.pros.each do |pro| %>
	<%= render partial: "pros/pro", locals: { pro: pro } unless pro.name.nil? or pro.name.empty? %>
  <% end %>
</table>

</div>

<div class="span6">
	<%= render "cons/form" %>
<table class="table">
  <tr class="info">
    <th class="span4">Con</th>
    <th class="span1"><%= @dilema.con_total %></th>
    <th>Edit</th>
  </tr>
  <% @dilema.cons.each do |con| %>
	<%= render partial: "cons/con", locals: { con: con } unless con.name.nil? or con.name.empty? %>
  <% end %>
</table>

</div>
</div>
