<h1><%= @dilema.decision %></h1>

<table class="table table-striped">
  <tr>
    <th>Pro</th>
    <th>Value</th>
    <th>Edit</th>
  </tr>
  <% @pros.each do |pro| %>
    <tr>
      <td><%= pro.name %></td>
      <td><%= pro.value %></td>
      <td><%= link_to 'Delete', pro_path(pro),
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<table class="table table-striped">
  <tr>
    <th>Con</th>
    <th>Value</th>
    <th>Edit</th>
  </tr>
  <% @cons.each do |con| %>
    <tr>
      <td><%= con.name %></td>
      <td><%= con.value %></td>
      <td><%= link_to 'Delete', con_path(con),
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>